@font-face {
    font-family: 'Retro';
    src: url('assets/fonts/PressStart2P-vaV7.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

#bg {
    background-image: url('assets/images/star-wars-logo-ascii.png');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
}

button {
    background-color: #000;
    font-family: 'Retro';
    color: #fff;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;

}
p {
    font-size: 1em;
    color: #fff;
    font-family: 'Retro';
    line-height: 1.5;
}
.nameTitle {
    font-size: 2em;
    color: #fff;
    font-family: 'Retro';
}

.crosshair {
    cursor: crosshair;
}


body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#section {
    background-color: #000;
    width: 100vw;
    height: 100vh;
    display: flex;
    position: absolute;
   
}

.bg-logo {
    background-image: url('assets/images/Star-wars-logo-new-tall.webp');
    background-size: cover;
    background-position: center;
}

.bg-no-logo {
    background-image: url('assets/images/Star-wars-logo-new-tall-no-logo.png');
    background-size: cover;
    background-position: center;
}

.center-content-container {
    padding-left: 40px;
    padding-top: 20px;
}

#centerContent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    z-index: 100;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.left-content-container {
    padding-left: 40px;
    padding-top: 20px;
    margin-right: 20px;
    width: 60%;
    height: 90vh; /* Set a fixed height */
  overflow-y: scroll; /* Enable vertical scrolling */
  padding-right: 17px; /* Prevent content shift */
   /* Hide scrollbar for Chrome, Safari, and Opera */

   &::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge, and Firefox */
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.leftContent {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   z-index: 100;
   text-align: left;
   
   
   
  
 
}


.right-content-container {
    padding-left: 40px;
    padding-top: 20px;
    width: 80%;
    height: 90vh; /* Set a fixed height */
  overflow-y: scroll; /* Enable vertical scrolling */
  padding-right: 17px; /* Prevent content shift */
   /* Hide scrollbar for Chrome, Safari, and Opera */

   &::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge, and Firefox */
  -ms-overflow-style: none;
  scrollbar-width: none;
}


.rightContent {
   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



