@font-face {
    font-family: 'Retro';
    src: url('../fonts/PressStart2P-vaV7.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}



.loadingTitle {
    font-size: 1rem;
    color: #fff;
    font-family: 'Retro';
    text-align: center;
    line-height: 1.5;
}

button {
    background-color: #000;
    font-family: 'Retro';
    color: #fff;
    padding: 10px 20px;
    margin: 10px;
    cursor: crosshair;

}

button:hover {
    
    color: #fff200
}

p {
    font-size: 1em;
    color: #fff;
    font-family: 'Retro';
    line-height: 1.5;
}


.gold_static {
    color: #fff200;
}

.gold:hover {
    color: #fff200;
    /* transition: color 0.3s ease; - Feels too modern */
}

.gold_trigger:hover + .gold_sibling {
    color: #fff200;
}

.openingCrawl {
    color: #fff200;
}



.nameTitle {
    font-size: 2em;
    color: #fff200;
    font-family: 'Retro';

}

.crosshair {
    cursor: crosshair;
}


body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#section {
    background-color: #000;
    width: 100vw;
    height: 100vh;
    display: flex;
    position: absolute;
   
}

.bg-logo {
    background-image: url('../images/Star-wars-logo-new-tall.webp');
    background-size: cover;
    background-position: center;
}

.bg-no-logo {
    background-image: url('../images/Star-wars-logo-new-tall-no-logo.png');
    background-size: cover;
    background-position: center;
}

.center-content-container {
    padding-left: 40px;
    padding-top: 20px;
}



#centerContent {
    position: absolute;
    top: 82%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    z-index: 100;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.left-content-container {
   
    
    padding-left: 40px;
    padding-top: 20px;
    margin-right: 20px;
    width: 33.3%;
    height: 90vh; /* Set a fixed height */
  overflow-y: scroll; /* Enable vertical scrolling */
  padding-right: 17px; /* Prevent content shift */
   /* Hide scrollbar for Chrome, Safari, and Opera */

   &::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge, and Firefox */
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.leftContent {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   z-index: 100;
   text-align: left;
     
 
}


.right-content-container {
    padding-left: 40px;
    padding-top: 20px;
    width: 80%;
    height: 90vh; /* Set a fixed height */
  overflow-y: scroll; /* Enable vertical scrolling */
  padding-right: 17px; /* Prevent content shift */
   /* Hide scrollbar for Chrome, Safari, and Opera */

   &::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge, and Firefox */
  -ms-overflow-style: none;
  scrollbar-width: none;
}


.rightContent {
   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#infoButton {
    position: absolute;
    border: none;
    bottom: 10px;
    right: 10px;
    height: 2rem;
    width: 2rem;
    z-index: 100;
    font-size: 1.5rem;
    
}


/* INFO MODAL */

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.8);
}

.modal-content {
    background-color: #000;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    font-family: 'Retro', sans-serif;
    color: #fff;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

.modal-content h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
}

.modal-content p, .modal-content ul {
    font-size: 0.8em;
    line-height: 1.6;
    margin-bottom: 15px;
}

.modal-content a {
    color: #ffd700;
    text-decoration: none;
}

.modal-content a:hover {
    text-decoration: underline;
}

/* AUDIO MODAL */

/* Audio Modal Styles */
.audio-modal-content {
    background-color: #000;
    color: #fff;
    font-family: 'Retro', sans-serif;
    height: 100%;
}

#audioPlayer {
    margin-top: 20px;
    
    /* Hide scrollbar for Chrome, Safari and Opera */
    #playlistContainer::-webkit-scrollbar {
        display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    #playlistContainer {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }
}

#audioElement {
    display: none; /* Hide the default audio element */
}

#customAudioControls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #000;
    padding: 10px;
    border-radius: 5px;
}

#playPauseBtn {
    background-color: #ffd700;
    color: #000;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    font-family: 'Retro', sans-serif;
}

#seekBar {
    width: 60%;
    -webkit-appearance: none;
    background: #333;
    outline: none;
    opacity: 0.7;
    transition: opacity .2s;
}

#seekBar:hover {
    opacity: 1;
}

#seekBar::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: #ffd700;
    cursor: pointer;
    border-radius: 50%;
}

#seekBar::-moz-range-thumb {
    width: 15px;
    height: 15px;
    background: #ffd700;
    cursor: pointer;
    border-radius: 50%;
}

#currentTime, #duration {
    font-family: 'Retro', sans-serif;
    color: #ffd700;
}

#playlistContainer {
    margin-top: 20px;
    max-height: 500px;
    overflow-y: auto;
    height: 100%;
}

#playlist {
    list-style-type: none;
    padding: 0;
    
}

#playlist li {
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#playlist li:hover {
    background-color: #333;
    color: #ffd700;
}

#playlist li.active {
    background-color: #ffd700;
    color: #000;
}

#audioButton {
    position: absolute;
    border: none;
    bottom: 10px;
    right: 50px;
    height: 2rem;
    width: 2rem;
    z-index: 100;
    font-size: 1.5rem;
}

#audioButton.playing {
    
    color: #fff200;
}

.audio-modal-content {
    font-size: 0.9rem;
    line-height: 1.5;
}
